<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sehr geehrte/r <%= @customer.dear %> <%= @customer.lastname %>, </h1></br></br>
    <p>wir befindin uns wiedermal kurz vor dem Saisonwechsel und möchten Ihnen nahe legen sich rechtzeitig um einen Termin zu bemühen.
      </br></br></br></br></br>
    </p>
    <p>
      Ihre Autowerkstatt
    </p>
    <p>Diese mail ist maschinel erstellt.;-)</p>
  </body>
</html>