<h4><kbd><%= @customer.lastname %> <%= @car.vehicle %></kbd></h4>
<h2><kbd>Reifen ändern</kbd></h2>

<%= render 'form', tire: @tire %>


<%= link_to 'Zurück', customer_path(@customer), :class => "label label-info" %>
