<h2><kbd>Karteikarte von <%= @customer.lastname %></kbd></h2>
<h3><kbd>KFZ Daten ändern</kbd></h3>

<%= render 'form', car: @car %>


<%= link_to 'Zurück', customer_path(@customer), :class => "label label-info" %>
